@for (meal of results; track meal["idMeal"]; let i = $index) {
    <img name="image" [src]="meal['strMealThumb']" width="100" />

    <div name="header" (click)="flipExpanded(i)">
        <h3 name="mealTitle">{{ meal["strMeal"] }}</h3>
        <h4 name="region">Region: {{ meal["strArea"] }}</h4>
        <h4 name="catgory">Category: {{ meal["strCategory"] }}</h4>
    </div>

    @if (meal["expanded"] == "yes") {
        <div name="ingredients">
            <h4 name="ingredientsTitle">Ingredients:</h4>

            <ul name="ingredientsList">
                @for (ingredientIndex of ingredientIndicies[i]; track ingredientIndex; let j = $index) {
                    <li name="ingredientsListItem">{{ meal[ingredientIndex] }} : {{ meal[quantityIndicies[i][j]] }}</li>
                }
            </ul>
        </div>

        <div name="instructions">
            <h4 name="instructionsTitle">Instructions</h4>

            <p name="instrucitonsParagraph">{{ meal["strInstructions"] }}</p>
        </div>
    }
}